.single-book {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap:15px;
    overflow: hidden;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 255, 243, 0.13);
    border-radius: 15px;
    padding: 5px;
}

.single-book .thumbnail {
    height: auto;
    border-radius: 8px;
}

.single-book .thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.r-title {
    color: #333;
}
.r-paragraph {
text-decoration: underline
}

.single-book p {
    color: #666;
}

.authors{
    text-decoration: underline;
}
.single-book {
margin-top:10px;
}

@media only screen and (max-width: 600px) {
    .single-book {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;
    }


    .thumbnail-container {
        width: 150px;
        height: 200px;
    }

    .r-title {
        font-size: 20px;
    }

    .r-paragraph {
        font-size: 14px;
    }
}
.description{
    max-width: 1000px;
}