body,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #d8e8e8, #e1efef);
  color: #1c1818;
}

body {
  font-family: Quicksand ,Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
}


